<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.cjs.js">
    <title>CSM</title>
</head>
<body>

    <header class="header"> 
        <a href="/" class="logo">CSM</a>
        <input class="menu-btn" type="checkbox" id="menu-btn"> 
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
        <ul class="menu">
            <li><a href="#about-us">About us</a></li>
            <li><a href="#guided-tour">Guides tour</a></li>
            <li><a href="#opening-hours">Opening hours</a></li>
            <li><a href="#to-do">To do</a></li>
        </ul>
    </header>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer"></div>
                <div class="footer-col">
                    <h4>social</h4>
                    <ul class="undertext">
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>opening hours</h4>
                    <ul class="undertext">
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About us</h4>
                    <ul class="undertext">
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>facebook</h4>
                    <ul class="undertext">
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                        <li><a href="#"></a>Lorem, ipsum.</li>
                    </ul>
                    
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>



/*header*/
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#bbb
}

a{
    color:#fff;
}

.header{
    background-color: #5B7CAF;
    box-shadow: 1px 1px 4px 0 rgba (0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    background-color: #5B7CAF;
}

.header ul a{
    display: block;
    padding: 20px;
    border-right:1px solid #aaa;
    text-decoration:none;
}

.header ul a:hover{
    background-color: #ddd;
}

.header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon::before{
    background-color: #fff;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after{
    background-color: #fff;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}


/*footer*/

body{ 
    line-height: 1.5;
    font-family: "poppins", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #3E4B6A ;
    padding: 70px 0
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 26px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom:10px;
}

.undertext{
    color: #fff;
}

@media (min-width:48em){
/*header*/
    .header li{
        float: left;
    }
    .header li a{
        padding:20px 30px; 
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}







extra;


@media only screen and (min-width: 1000px ){

    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }

    .img-info{
        width: 50%;
        float: right; 
   }

   .img-info h2{
    padding: 10px 10px 20px 10px;
}

    .img-info p{
    padding: 20px 0px 0px 30px;
}
   
   .img-me{
       padding:100px 20px 20px 30px;
       width:50%;
       float:left;
   }
}